<!DOCTYPE html>
<html>
<head>
  <title>Reservable</title>
  <%= stylesheet_link_tag    "reservable/application", media: "all" %>
  <%= javascript_include_tag "reservable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
